html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(name='author', content='LKE')
		meta(name='description', content='')
		meta(name='keyword', content='')
		title React Rainbow

		link(rel='stylesheet', href='css/rainbow/bootstrap.min.css')
		link(rel='stylesheet', href='css/rainbow/AdminLTE.css')
		//-link(rel='stylesheet', href='css/rainbow/_all-skins.min.css')
		link(rel='stylesheet', href='css/rainbow/ionicons.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
	body
		#root
		script(src='/plugins/easeljs-0.8.2.min.js')
		script(src='/plugins/tweenjs-0.6.2.min.js')
		script(src='/plugins/howler.min.js')
		script(src='/plugins/preloadjs-0.6.2.min.js')
		script(src='/plugins/react.js')
		script(src='/plugins/react-dom.js')

		script(src='/plugins/jquery.min.js')
		script(src='/plugins/bootstrap.min.js')
		script(src='/plugins/adminlte.min.js')
		script(src='/plugins/jquery.slimscroll.min.js')
		script(src='https://use.fontawesome.com/581d5d54d2.js')

		script(src='/build/desktop/k.main.build.js')
